<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1、mvc的注解驱动(不止可以代替上面)-->
    <!--默认底层会集成jsckson进行对象或集合的json格式转换（要在头部加载）-->
    <mvc:annotation-driven/>

    <!--2、配置内部资源视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <!--配置前缀（处理器return时会加上前缀后缀）-->
        <property name="prefix" value="/pages/"/>

        <!--配置后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--3、开放静态资源的访问（如果MVC找不到对应的资源就交给原始容器（Tomcat服务器）找））-->
    <mvc:default-servlet-handler/>

    <!--4、Controller的组件扫描-->
    <context:component-scan base-package="com.itheima.controller"/>

    <!--    5、配置拦截器(未登录的用户要登录)-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--配置对哪些资源进行拦截-->
            <mvc:mapping path="/**"/>
            <!--配置对哪些资源不进行拦截-->
            <mvc:exclude-mapping path="/user/login"/>
            <bean class="com.itheima.interceptor.PrivilegeInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

<!--    5、异常处理器-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!--默认的错误处理页面（如果下面都解决不了就跳转到这里）-->
        <property name="defaultErrorView" value="404"/>
        <property name="exceptionMappings">
            <map>
                <!--类型转换异常-->
                <entry key="java.lang.ClassCastException" value="404"/>
            </map>
        </property>
    </bean>

</beans>